<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916421099888-28738nqrn6he99d6ti4d7pjrqejjlrus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916421099888-28738nqrn6he99d6ti4d7pjrqejjlrus</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916421099888-gnnl4dcbomq9totrpu46o43iqhcqtbk2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6coq7x2fVdU8sbrYoKlupkk84z_4_-8E</string>
	<key>GCM_SENDER_ID</key>
	<string>916421099888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vetBookr.vetBookr</string>
	<key>PROJECT_ID</key>
	<string>the-app-354102</string>
	<key>STORAGE_BUCKET</key>
	<string>the-app-354102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916421099888:ios:1d1225337448bd3ed64fb5</string>
</dict>
</plist>